Flask==3.1.2
Flask-WTF==1.2.2
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
SQLAlchemy==2.0.43
psycopg[binary]==3.2.10
pytest==8.4.2
Pillow==11.3.0
azure-storage-blob==12.30.2
gunicorn==26.2.0
google-auth[requests]==2.40.3
